.hidden {
    display: none !important;
}
.box-container {
    // border: 1px solid #13070C;
    width: 100%;
    // margin-top: 10vh;
    display: flex;
    // display: block;
    justify-content: space-around;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    padding-bottom: 3%;

    .box {
        color: #13070C;
        border: 1px solid;
        // height: 100% !important;
        -webkit-align-items: center; /* Safari 7.0+ */
        align-items: center;
        width: 26%;
        padding-left: 10px;
        // for animation on drag over
        transform: scale(1);
        transition: all 0.5s;
        h3 {
            font-weight: lighter;
            text-align: center;
            transform: translateY(-7px);
            span {
                display: inline-block;
                padding-left: 10px;
                padding-right: 10px;
            }
        }
        .add-task {
            cursor: pointer;
            border-top: none !important;
            line-height: 30px;
        }
        .add-task-container {
            max-width: 30px !important;
            text-align: center;
        }
        .task {
            // border: 1px solid #13070C;
            height: 30px;
            margin-top: 10px;
            .task-content {
                // border: 1px solid orange;
                // display: inline-block;
                display: inline-block;
                min-width: 60px;
                // min-height: 15px;
                // height: 30px;
                // transform: translateY(-8px);
            }
            .task-span {
                display: inline-block;
                // line-height: 30px;
                height: 30px;
                min-width: 60px;
                padding-left: 5px;
                padding-right: 5px;
            }
            .action-widget {
                display: inline-block;
                line-height: 30px;
                // padding-left: 5px;
                // padding-right: 5px;
                // border: 1px solid green;
                overflow: hidden;

                width: 0px;
                transition: width 0.5s;
            }
            .toggleWidgetHook {
                text-align: left;
                // border: 0.5px solid blue;
                // max-height: 30px;
                // width: 55px;
                margin-left: 5px;
                white-space: nowrap;
                overflow: hidden;
                width: 4px;
                text-align: right;

                span {
                    // border: 1px solid inherit;
                    margin-left: 5px;
                    cursor: pointer;
                }
                .grow {
                    width: 13px;
                }
            }
            // .grow {
            //     width: 55px;
            // }
            // box-sizing: border-box;

            // // padding-bottom: 10px;
            // span {
            //     margin-right: 10px;
            // }
            // p {
            //     // display: inline-block;
            //     border-bottom: 1px solid #13070C;
            //     padding-bottom: 3px;
            // }
        }
    }
    .dragged-over {
        border-width: 4px;
        transform: scale(1.1);
    }
}

.box-container-shrink {
    //transition
    transform: scale(0);
    transition: transform 0.5s;
}
.box-container-grow {
    //transition
    transform: scale(1);
    transition: transform 0.5s;
}

svg {
    width: 100%;
    height: 100%;
    transform: translateY(1.5px)
}
