@import 'vars';
@import 'boxes';

body {
    padding: 0;
    margin: 0;
    #container {
        max-height: 100vh;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        section {
            // flex: 1;
            height: calc(100vh/7);
            display: flex;
            line-height: 1em;
            transition-property: line-height;
            transition-duration: 0.4s;
            transition-timing-function: linear;

            .day-name {
                margin: auto;
                // positionner le nom du jour "au dessus" du container-box 
                position: relative;
                right: 50%;
                transform: translateX(50%)
            }
        }
        #lundi {
            background-color: $lundi;
            color: $mardi;
            div {
                color: $mardi;
            }
            .box {
                border-color: $mardi;
                h3 {
                    span {
                        background-color: $lundi;
                    }
                }
                .add-task-container {
                    border: 1px solid $mardi;
                }
                .task-span {
                    border: 1px solid $mardi;
                }
            }
        }
        #mardi {
            background-color: $mardi;
            color: $mercredi;
            div {
                color: $mercredi;
            }
            .box {
                border-color: $mercredi;
                h3 {
                    span {
                        background-color: $mardi
                    }
                }
                .add-task-container {
                    border: 1px solid $mercredi;
                }
                .task-span {
                    border: 1px solid $mercredi;
                }
            }
        }
        #mercredi {
            background-color: $mercredi;
            color: $jeudi;
            div {
                color: $jeudi;
            }
            .box {
                border-color: $jeudi;
                h3 {
                    span {
                        background-color: $mercredi
                    }
                }
                .add-task-container {
                    border: 1px solid $jeudi;
                }
                .task-span {
                    border: 1px solid $jeudi;
                }
            }
        }
        #jeudi {
            background-color: $jeudi;
            color: $vendredi;
            div {
                color: $vendredi;
            }
            .box {
                border-color: $vendredi;
                h3 {
                    span {
                        background-color: $jeudi;

                    }
                }
                .add-task-container {
                    border: 1px solid $vendredi;
                }
                .task-span {
                    border: 1px solid $vendredi;
                }
            }
        }
        #vendredi {
            background-color: $vendredi;
            color: $samedi;
            div {
                color: $samedi;
            }
            .box {
                border-color: $samedi;
                h3 {
                    span {
                        background-color: $vendredi
                    }
                }
                .add-task-container {
                    border: 1px solid $samedi;
                }
                .task-span {
                    border: 1px solid $samedi;
                }
            }
        }
        #samedi {
            background-color: $samedi;
            color: $dimanche;
            div {
                color: $dimanche;
            }
            .box {
                border-color: $dimanche;
                h3 {
                    span {
                        background-color: $samedi
                    }
                }
                .add-task-container {
                    border: 1px solid $dimanche;
                }
                .task-span {
                    border: 1px solid $dimanche;
                }
            }
        }
        #dimanche {
            background-color: $dimanche;
            color: $lundi;
            div {
                color: $lundi;
            }
            .box {
                border-color: $lundi;
                h3 {
                    span {
                        background-color: $dimanche
                    }
                }
                .add-task-container {
                    border: 1px solid $lundi;
                }
            }
            .task-span {
                border: 1px solid $lundi;
            }
        }
    }
}
